<backingStore{%- if backing_store.type is defined -%} type='{{backing_store.type}}'{%- endif -%}{%- if backing_store.index is defined -%} index='{{backing_store.index}}'{%- endif -%}{%- if backing_store.index is defined -%} index='{{backing_store.index}}'{%- endif -%}>
    {%- if backing_store.format is defined -%}
        <format type='{{backing_store.format.type}}'/>
    {%- endif -%}
    {%- if backing_store.source is defined -%}
        {%- source_type = backing_store.type -%}
        {%- source = backing_store.source -%}
        {%- include 'source.xml.j2'}
    {%- endif -%}
    {%- if backing_store.backing_store is defined -%}
        {%- backing_store = backing_store.backing_store -%}
        {%- include 'disk_backing_store.xml.j2'}
    {%- endif -%}
</backingStore>
