<seclabel type='{{seclabel.type}}'{%- if seclabel.model is defined %} model='{{seclabel.model}}'{%- endif -%}{%- if seclabel.relabel is defined %} relabel='{{seclabel.relabel}}'{%- endif -%}>
    {%- if seclabel.label is defined -%}
        <label>{{seclabel.label}}</label>
    {%- endif -%}
    {%- if seclabel.baselabel is defined -%}
        <baselabel>{{seclabel.baselabel}}</baselabel>
    {%- endif -%}
    {%- if seclabel.imagelabel is defined -%}
        <imagelabel>{{seclabel.imagelabel}}</imagelabel>
    {%- endif -%}
</seclabel>
