<controller type='{{dev.type}}'{% if dev.index is defined %} index='{{dev.index}}'{% endif %}{% if dev.ports is defined %} ports='{{dev.ports}}'{% endif %}{% if dev.vectors is defined %} vectors='{{dev.vectors}}'{% endif %}{% if dev.model is defined %} model='{{dev.model}}'{% endif %}{% if dev.ports is defined %} ports='{{dev.ports}}'{% endif %}>
    {% include 'roles/server_virt/templates/domain/devices/common/alias.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/devices/common/address.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/devices/common/readonly.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/devices/common/driver.xml.j2' %}

    {% if dev.master is defined %}
        <master{% if dev.master.startport is defined %} startport='{{dev.master.startport}}'{% endif %}{% if dev.master.function is defined %} function='{{dev.master.function}}'{% endif %}/>
    {% endif %}
    {% if dev.pcihole64 is defined %}
        <pcihole64{% if dev.pcihole64.unit is defined %} unit='{{dev.pcihole64.unit}}'{% endif %}>{{dev.pcihole64.size}}</pcihole64>
    {% endif %}
    {% if dev.model is defined %}
        <model{% if dev.model.name is defined %} name='{{dev.model.name}}'{% endif %}/>
    {% endif %}
    {% if dev.target is defined %}
        <target{% if dev.target.chassisNr is defined %} chassisNr='{{dev.target.chassisNr}}'{% endif %}{% if dev.target.chassis is defined %} chassis='{{dev.target.chassis}}'{% endif %}{% if dev.target.port is defined %} port='{{dev.target.port}}'{% endif %}{% if dev.target.busNr is defined %} busNr='{{dev.target.busNr}}'{% endif %}{% if dev.target.index is defined %} index='{{dev.target.index}}'{% endif %}>
            {%- if dev.target.node is defined -%}
                <node>{{dev.target.node}}</node>
            {%- endif -%}
        </target>
    {% endif %}
</controller>
