{%- if cpu.model is defined -%}
    <model{% if cpu.model.fallback is defined %} fallback='{{cpu.model.fallback}}'{%- endif -%}{% if cpu.model.vendor_id is defined %} vendor_id='{{cpu.model.vendor_id}}'{% endif %}>{{cpu.model.name}}</model>
{%- endif -%}
{%- if cpu.vendor is defined -%}
    <vendor>{{cpu.vendor.name}}</vendor>
{%- endif -%}
{# TODO topology #}
{%- if cpu.feature is defined -%}
    <feature name='{{cpu.feature.name}}' policy='{{cpu.feature.policy}}'/>
{%- endif -%}
{# TODO cache #}
{# TODO numa #}
