{%- if source_type == 'file' -%}
    <source file='{{source.file}}'{%- if source.index is defined -%} index='{{source.index}}'{%- endif -%}{%- if source.startupPolicy is defined -%} startupPolicy='{{source.startup_policy}}'{%- endif -%}>
        {%- for seclabel in source.seclabels -%}
            {% include 'seclabel.xml.j2' %}
        {%- endfor -%}
        {%- if source.snapshot is defined -%}
            <snapshot name='{{source.snapshot.name}}'/>
        {%- endif -%}
        {%- if source.config is defined -%}
            <config file='{{source.config.file}}'/>
        {%- endif -%}
        {# TODO encryption #}
        {# TODO reservations #}
    </source>
{%- elif source_type == 'block' -%}
    <source dev='{{source.dev}}'>
        {%- for seclabel in source.seclabels -%}
            {% include 'seclabel.xml.j2' %}
        {%- endfor -%}
        {%- if source.snapshot is defined -%}
            <snapshot name='{{source.snapshot.name}}'/>
        {%- endif -%}
        {%- if source.config is defined -%}
            <config file='{{source.config.file}}'/>
        {%- endif -%}
        {# TODO encryption #}
        {# TODO reservations #}
    </source>
{%- elif source_type == 'dir' -%}
    <source dir='{{source.dir}}'>
        {%- if source.snapshot is defined -%}
            <snapshot name='{{source.snapshot.name}}'/>
        {%- endif -%}
        {%- if source.config is defined -%}
            <config file='{{source.config.file}}'/>
        {%- endif -%}
        {# TODO encryption #}
        {# TODO reservations #}
    </source>
{%- elif source_type == 'network' -%}
    <source protocol='{{source.protocol}}'{%- if source.name is defined -%} name='{{source.name}}'{%- endif -%}{%- if source.tls is defined -%} tls='{{source.tls}}'{%- endif -%}>
        {%- for host in source.hosts -%}
            <host name='{{host.name}}'{%- if host.port is defined -%} port='{{host.port}}'{%- endif -%}{%- if host.transport is defined -%} transport='{{host.transport}}'{%- endif -%}{%- if host.socket is defined -%} socket='{{host.socket}}'{%- endif -%}/>
        {%- endfor -%}
        {%- if source.snapshot is defined -%}
            <snapshot name='{{source.snapshot.name}}'/>
        {%- endif -%}
        {%- if source.config is defined -%}
            <config file='{{source.config.file}}'/>
        {%- endif -%}
        {%- if source.auth is defined -%}
            <auth username='{{source.auth.username}}'>
                <secret type='{{source.auth.secret_type}}'{%- if source.auth.secret_uuid is defined -%} uuid='{{source.auth.secret_uuid}}'{%- endif -%}{%- if source.auth.secret_usage is defined -%} usage='{{source.auth.secret_usage}}'{%- endif -%}>{{source.auth.secret}}</secret>
            </auth>
        {%- endif -%}
        {# TODO encryption #}
        {# TODO reservations #}
        {# TODO initiator #}
    </source>
{%- elif source_type == 'volume' -%}
    <source pool='{{source.pool}}' volume='{{source.volume}}'{%- if source.mode is defined -%} mode='{{source.mode}}'{%- endif -%}{%- if source.tls is defined -%} tls='{{source.tls}}'{%- endif -%}{%- if source.startupPolicy is defined -%} startupPolicy='{{source.startup_policy}}'{%- endif -%}>
        {%- for seclabel in source.seclabels -%}
            {% include 'seclabel.xml.j2' %}
        {%- endfor -%}
        {%- if source.snapshot is defined -%}
            <snapshot name='{{source.snapshot.name}}'/>
        {%- endif -%}
        {%- if source.config is defined -%}
            <config file='{{source.config.file}}'/>
        {%- endif -%}
        {# TODO encryption #}
        {# TODO reservations #}
    </source>
{%- endif -%}
