<backingStore{%- if backing_store.type is defined -%} type='{{backing_store.type}}'{%- endif -%}{%- if backing_store.index is defined -%} index='{{backing_store.index}}'{%- endif -%}{%- if backing_store.index is defined -%} index='{{backing_store.index}}'{%- endif -%}>
</backingStore>
