<domain type='{{domain.type}}'{% if domain.id is defined %} id='{{domain.id}}'{% endif %}>
    <name>{{domain.name}}</name>
    {% include 'roles/server_virt/templates/domain/uuid.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/genid.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/title.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/description.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/metadata.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/os.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/sysinfo.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/vcpu.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/vcpus.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/iothreads.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/cputune.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/memory.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/maxMemory.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/currentMemory.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/memoryBacking.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/memtune.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/numatune.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/blkiotune.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/resource.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/cpu.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/on_poweroff.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/on_reboot.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/on_crash.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/on_lockfailure.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/pm.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/features.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/clock.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/devices.xml.j2' %}
    {% include 'roles/server_virt/templates/domain/devices.xml.j2' %}

    {%- for seclabel in domain.seclabels -%}
        {% include 'roles/server_virt/templates/domain/seclabel.xml.j2' %}
    {%- endfor -%}
</domain>
