{%- if pm.suspend_to_disk is defined -%}
    <suspend-to-disk enabled='{{pm.suspend_to_disk.enabled}}'/>
{%- endif -%}
{%- if pm.suspend_to_mem is defined -%}
    <suspend-to-mem enabled='{{pm.suspend_to_mem.enabled}}'/>
{%- endif -%}
